
htdocs/assets/DevFolio/assets/img/apple-touch-icon.png
htdocs/assets/DevFolio/assets/img/favicon.png
htdocs/assets/DevFolio/assets/img/intro-bg - Copy.jpg
htdocs/assets/DevFolio/assets/img/intro-bg.jpg
htdocs/assets/DevFolio/assets/img/post-1.jpg
htdocs/assets/DevFolio/assets/img/post-2.jpg
htdocs/assets/DevFolio/assets/img/post-3.jpg
htdocs/assets/DevFolio/assets/img/testimonial-2.jpg
htdocs/assets/DevFolio/assets/img/testimonial-4.jpg
htdocs/assets/DevFolio/assets/img/work-1.jpg
htdocs/assets/DevFolio/assets/img/work-2.jpg
htdocs/assets/DevFolio/assets/img/work-3.jpg
htdocs/assets/DevFolio/assets/img/work-4.jpg
htdocs/assets/DevFolio/assets/img/work-5.jpg
htdocs/assets/DevFolio/assets/img/work-6.jpg
htdocs/assets/DevFolio/assets/vendor/bootstrap/js/bootstrap.bundle.js
htdocs/assets/DevFolio/assets/vendor/bootstrap/js/bootstrap.bundle.js.map
htdocs/assets/DevFolio/assets/vendor/bootstrap/js/bootstrap.bundle.min.js
htdocs/assets/DevFolio/assets/vendor/owl.carousel/assets/ajax-loader.gif
htdocs/assets/DevFolio/index.html
htdocs/assets/DevFolio/Readme.txt
htdocs/assets/ionicons/fonts/ionicons.svg
htdocs/assets/ionicons/fonts/ionicons.ttf
htdocs/assets/owl.carousel/LICENSE
htdocs/assets/owl.carousel/assets/owl.video.play.png
